body {
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

.overall{
    display: grid;
    grid-template-columns: 1fr 4fr;
}



.body{
    display: grid;
    grid-template-rows: 10rem 3fr;
}

.overall .body .body_main{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}

.overall .body .body_main .announceTrend{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* SIDEBAR */

.sidebar{
    height: 100vh;
    background-color: pink;
}

.sidebar a{
    margin: 1rem 1rem;
}

.sidebar h4{
    margin: 0 0 0 0.7rem;
}

.logo img{
    width: 5rem;
}

.logo h2{
    display: inline-block;
}

.logo{
    display: flex;
    align-items: center;
}


.side_mid img, .side_down img{
    width: 1.5rem;
}

.side_mid{
    margin-bottom: 4rem;
}

.side_mid a, .side_down a{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    gap: 0.5rem;
}

/* HEADER */
.header{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header .lower {
    background-color: aquamarine;
}

.header .upper{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.upper form img{
    width: 1.4rem;
}

.upper form{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    margin-left: 3rem;
}

.upper form input{
    width:30rem;
    border-radius: 1rem;
}

.topR .avatar{
    width: 3rem;
    border-radius: 50%;
}

.notif {
    width: 2rem;
}

.topR{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.topR h3{
    margin-left: 1rem;
}

.lower {
    display: grid;
    grid-template-columns: 2fr 1fr;

}

.lower img{
    width: 4rem;
    border-radius: 50%;
}

.hLowL{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    gap: 1rem;
}

.hLowL h2{
    margin-top: 0;
}

.hLowL h4{
    margin-bottom: 0;
}

.hLowR .btn {
    color: black;
    background-color: aliceblue;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.hLowR {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.hLowR .btn:hover{
    scale: 1.1;
    transition: 0.3s ease;
}

/* ANNOUNCEMENTS */
.announcement_wrapper{
    background-color: beige;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
}

.announce:nth-child(2){
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.announce p {
    font-size: 0.8rem;
    margin-top: 0;
}

.announce h5{
    margin-bottom: 0;
}

.announce {
    width: 80%;
}

/* TRENDING */

.trend img{
    width: 3rem;
    border-radius: 50%;
}

.trend_content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: blanchedalmond;
    width:60%;
    align-items: start;
    border-radius: 1rem;
    gap: 5px;
    padding: 1rem;
}

.trend{
    display: flex;
    align-items: center;
    
}

.trend p{
    margin: 0 0 0 1rem;
    font-size: 0.9rem;
}

/* PROJECTS */

.projects{
    display: flex;
    flex-direction: column;
}

.projects .proj_contents .project{
    background-color: cornsilk;
    height: 11rem;
    border-radius: 1rem;
}

.projects .proj_contents .project .proj_buttons{
    float: right;
    margin: 3rem 2rem 0 0;
}

.projects .proj_contents .project .proj_buttons img{
    width: 1.5rem;
}
.projects .proj_contents .project .proj_buttons img:hover{
    scale: 1.2;
    transition: 0.2s ease;
}

.projects .proj_contents .project p, .projects h4{
    margin: 1rem 0 0 1rem;
}

.projects .proj_contents{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 90%;
    align-self: center;
    gap: 1rem;
    height: 30rem;
}

.projects h3{
    margin-left: 3rem;
}

.project:hover{
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    scale: 1.005;
    transition: 0.3s ease;
}


